.success-container {
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    background: #f8fff4;
  }
  
  h2 {
    color: #4CAF50;
  }
  
  p {
    font-size: 18px;
  }
  
  .home-button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .home-button:hover {
    background-color: #45a049;
  }
  